:root {
    --header: 33vh;
    --footer: 33vh;
    --main: calc(100vh - calc(var(--header) + var(--footer)));
    }

* {
    box-sizing: border-box;
    overflow: hidden;
}

@font-face {
    font-family: "Roboto-Medium";
    src: url("Roboto-Medium.ttf");
  }

@font-face {
    font-family: "Roboto-Regular";
    src: url("Roboto-Regular.ttf");
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
}

.left {
    background-image: url('assets/leaves.jpg');
    background-size: cover;
    height: 100%;
    width: 30vw;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-direction: column;
}

.right {
    background-color: #f0f0f0;
    height: 100%;
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo-container {
    background-color: rgb(0,0,0,0.5);
    width: 100%;
    height: min-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    gap: 10px;
    transform: translateY(-18vh);
}

.logo-container img {
    height: 12vh;
}

.logo-container .title {
    font-family: 'Norse-Bold';
    color: white;
    padding: 0;
    margin: 0;
    font-size: 5rem;
    padding-top: 25px;
}

.credit, .credit a {
    color: white;
   font-size: 0.9rem;
}

.credit {
    position: absolute;
    margin: 0;
    padding: 0 0 15px 0;
    bottom: 0;
}

.top-text, button, .login {
    margin-left: 50px;
}

.first-top-text, .second-top-text, form legend {
    font-size: min(1.2rem, 2.2vw);
    margin: 0;
    font-family: "Roboto-Medium";
}

.first-top-text, .second-top-text {
    text-wrap: wrap;
}

form legend {
    padding: 0 0 10px 0;
}

.top-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50vw;
    height: var(--header);
    gap: 2vh;
}

form {
    background-color: white;
    padding: 2.5vh 0 0 50px;
    box-shadow: 10px 5px 8px rgb(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: max-content;
    gap: 2vh;
}

.inputs {
    display: flex;
    /* gap: 1.2vw; */
    flex-wrap: wrap;
    width: 70%;
    padding-bottom: 6vh;
}

.label-and-input-combo {
    display: flex;
    flex-direction: column;
}

.inputs label {
    font-size: 0.6rem;
    letter-spacing: 1px;
    padding-bottom: 2px;
    font-family: "Roboto-Regular";
}

.inputs input {
    padding: 2vh 5vh 2vh 1vh;
    width: 18vw;
    height: 2vh;
    margin-right: 4vw;
    margin-bottom: 1vw;
}

.inputs input:not(.error) {
    border: 1px solid #E5E7EB;
    border-radius: 5px;
}

.inputs input:focus:not(.error) {
    outline: none;
    border: 1px solid blue;
    box-shadow: 1px 1px 5px rgb(0,0,0,0.25);
}

.bottom {
    padding-top: 5vh;
    width: 100vw;
    height: var(--footer);
    display: flex;
    gap: 30px;
    flex-direction: column;
}

button {
    width: max-content;
    padding: 15px 50px;
    border-radius: 8px;
    border: 0;
    background-color: #596D48;
    color: white;
    font-weight: 600;
    box-shadow: 2px 2px 5px rgb(0,0,0,0.25);
    cursor: pointer;
}

button:hover {
    background-color: #738267;
}

.login {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-family: "Roboto-Regular";
}

.login a {
    color: #6d7d5f;
    text-decoration: none;
    font-family: "Roboto-Medium";
}

.login a:hover {
    color: #528329;
}

.error {
    outline: none;
    border: 1px solid red;
    border-radius: 5px;
}

.error:focus {
    box-shadow: 1px 1px 5px rgb(0,0,0,0.25);
}

span {
    padding: 0;
    margin: 0;
    color: red;
    font-size: 0.6rem;
    font-family: "Roboto-Regular";
    transform: translateY(-1.8vh);
}